#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-ctn {
  width: 100%;
}
.sec-tables-ctn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.table-ctn {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
}
.ingredients-ctn {
  display: flex;
  width: 75%;
  flex-direction: column;
}
.recipes-ctn {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.global-chat-ctn {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.recipe-name-ctn {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.recipe-name-btn-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ingredients-data-ctn {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingredients {
  width: 100%;
  text-align: center;
}
ul.ingredients li {
  margin-bottom: 0.2rem;
}
.list-ingredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list-instruction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}
.list-instruction-step {
  display: block;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
table {
  width: 100%;
}
td {
  border-bottom: 2px solid #ccc;
  padding: 5px 10px;
}
th {
  border-bottom: 2px solid #f9f5f5;
  padding-bottom: 10px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
