@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;

  --body-radial-color-1: #181c22;
  --body-radial-color-2: #050e29;
}

*{
  @apply outline-none focus-visible:outline-blueish-100 focus-visible:ring-blueish-100 rounded-sm;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: radial-gradient(circle at center, var(--body-radial-color-1) 0%, var(--body-radial-color-2) 100%);
  min-height : 100vh;
}

/* div[data-state="open"][aria-hidden="true"][data-aria-hidden="true"] {
  @apply opacity-50;
}

#add-recipe-dialog{
  @apply bg-card-500;
}

#warning-dialog{
  @apply bg-card-500;
} */

button[data-state="active"]>span#tabs-trigger-active {
  @apply text-def-100;
}

div[cmdk-list][role="listbox"] {
  @apply bg-blueish-300 max-h-52 text-def-100 rounded-sm border-def-200;
}

div[cmdk-item][role="option"] {
  @apply text-def-100 opacity-100 hover:bg-blueish-200 py-[3px] focus:bg-blueish-200 focus-visible:bg-blueish-200 pointer-events-auto focus-within:bg-blueish-200 ;
}

div[data-border="true"] {
  @apply outline-blueish-100;
}

button[data-action="badge-button-remove"] {
  @apply bg-transparent text-def-100;
}

button[data-action="generate-instructions"]{
  @apply hover:no-underline no-underline;
}

input[cmdk-input][role="combobox"]{
  @apply bg-blueish-300 text-def-100 min-w-[38rem];
}

div[data-badge="outline"]{
  @apply bg-def-500 select-none;

}


.translate-center  {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.translate-center-t40 {
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}

.first-layer {
  z-index : 9999;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  @apply text-blueish-100;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: #e8e8e8;
  /* outline: -webkit-focus-ring-color auto 5px #535bf2; */
}

button.menu {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #e8e8e8;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

#root {
  @apply sm:p-4 md:p-8 p-1;
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: left;
}



table {
  width: 100%;
}
td {
  padding: 1px 3px;
}
th {
  @apply border-b-2 border-blueish-100;
  padding: 15px 7px;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.card {
  @apply rounded-lg border-[1px] border-black/40 shadow-inner-shadow-dark-sm;
}
/*  */

.shadow-inner-shadow-dark-sm {
  --tw-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.02) inset, 0px 0px 0px 1px hsla(0, 0%, 100%, 0.02) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: inset 0px 1px 0px 0px var(--tw-shadow-color), inset 0px 0px 0px 1px var(--tw-shadow-color),
    0px 0px 0px 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.button-wave {
  position: absolute;
  background: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  @apply text-blueish-50;
  box-shadow: 0 0 0 0 currentColor;
  opacity: 0.2;
}

.button-wave.wave-motion-appear {
  --cb-ease-out: cubic-bezier(0.08, 0.82, 0.17, 1);
  transition: box-shadow 0.4s cubic-bezier(0.08, 0.82, 0.17, 1), opacity 2s cubic-bezier(0.08, 0.82, 0.17, 1);
}

.button-wave.wave-motion-appear-active {
  box-shadow: 0 0 0 6px currentColor;
  opacity: 0;
}

.button-wave.wave-motion-appear.wave-quick {
  --cb-ease-in-out: cubic-bezier(0.78, 0.14, 0.15, 0.86)
  transition: box-shadow 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), opacity 0.35s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

/* CHECKBOX */

.checkbox-ctn {
  @apply px-3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

/* Hide the default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  --clr: #54669dff;
  position: relative;
  top: 0;
  left: 0;
  height: 0.8em;
  width: 0.8em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: 0.18rem;
  animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 0.25em;
  top: 0.1em;
  width: 0.3em;
  height: 0.5em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

/* LOADER */

.loader {
  --color: #a5a5b0;
  --size: 20px;
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.loader span {
  width: 100%;
  height: 100%;
  background-color: var(--color);
  animation: keyframes-blink 0.5s alternate infinite linear;
}

.loader span:nth-child(1) {
  animation-delay: 0ms;
}

.loader span:nth-child(2) {
  animation-delay: 150ms;
}

.loader span:nth-child(3) {
  animation-delay: 150ms;
}

.loader span:nth-child(4) {
  animation-delay: 280ms;
}

@keyframes keyframes-blink {
  0% {
    opacity: 0.5;
    transform: scale(0.5) rotate(20deg);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}
