@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  } */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #e8e8e8;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-ctn {
  width: 100%;
}
.sec-tables-ctn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.table-ctn {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
}
.ingredients-ctn {
  display: flex;
  width: 75%;
  flex-direction: column;
}
.recipes-ctn {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.global-chat-ctn {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.recipe-name-ctn {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.recipe-name-btn-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ingredients-data-ctn {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingredients {
  width: 100%;
  text-align: center;
}
ul.ingredients li {
  margin-bottom: 0.2rem;
}
.list-ingredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list-instruction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}
.list-instruction-step {
  display: block;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
table {
  width: 100%;
}
td {
  border-bottom: 2px solid #ccc;
  padding: 5px 10px;
}
th {
  border-bottom: 2px solid #f9f5f5;
  padding-bottom: 10px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* CHECKBOX */

.checkbox-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  --clr: #e09809;
  position: relative;
  top: 0;
  left: 0;
  height: 0.8em;
  width: 0.8em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: 0.18rem;
  animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.25em;
  top: 0.1em;
  width: 0.18em;
  height: 0.4em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

/* LOADER */

.loader {
  --color: #a5a5b0;
  --size: 30px;
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.loader span {
  width: 100%;
  height: 100%;
  background-color: var(--color);
  animation: keyframes-blink 0.5s alternate infinite linear;
}

.loader span:nth-child(1) {
  animation-delay: 0ms;
}

.loader span:nth-child(2) {
  animation-delay: 150ms;
}

.loader span:nth-child(3) {
  animation-delay: 150ms;
}

.loader span:nth-child(4) {
  animation-delay: 280ms;
}

@keyframes keyframes-blink {
  0% {
    opacity: 0.5;
    transform: scale(0.5) rotate(20deg);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}
